.products {
  list-style-type: none;
  margin: 36px -26px 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product {
  margin: 0 20px 20px 0;
  flex: 0 0 226px;
  background-position: center;
  background-size: cover;

  a {
    color: $color-dark;
    height: 278px;
    display: flex;
    align-items: flex-end;
    justify-content: stretch;
    text-decoration: none;
  }

  span {
    box-sizing: border-box;
    flex: 0 0 100%;
    background: $color-background-dark;
    text-align: center;
    padding: 8px;
  }

  strong {
    color: $color-orange;
  }
}
